.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.900391;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.708008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.113281;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.965820;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-1.188000px;}
._1{width:1.000000px;}
._2{width:5.800000px;}
._3{width:7.200000px;}
._0{width:13.000000px;}
.fc2{color:rgb(227,108,9);}
.fc1{color:rgb(49,132,155);}
.fc3{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:24.000000px;}
.fs2{font-size:30.000000px;}
.fs0{font-size:32.000000px;}
.fs6{font-size:36.000000px;}
.fs8{font-size:40.000000px;}
.fs7{font-size:44.000000px;}
.fs1{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:64.000000px;}
.y2{bottom:1.695000px;}
.y31{bottom:2.859000px;}
.y2f{bottom:2.907000px;}
.y39{bottom:3.118999px;}
.y37{bottom:3.331000px;}
.y4{bottom:5.730001px;}
.yf{bottom:7.042000px;}
.y22{bottom:9.119000px;}
.yd{bottom:11.787998px;}
.y3c{bottom:14.617999px;}
.ye{bottom:16.240999px;}
.y13{bottom:19.224995px;}
.ya{bottom:19.957005px;}
.yc{bottom:20.552999px;}
.y20{bottom:20.618001px;}
.y12{bottom:26.123993px;}
.y24{bottom:26.618001px;}
.y9{bottom:33.756004px;}
.y1{bottom:35.449986px;}
.y1f{bottom:38.117002px;}
.y11{bottom:40.892994px;}
.y8{bottom:47.555004px;}
.y1e{bottom:55.616002px;}
.y2d{bottom:145.700032px;}
.y2c{bottom:168.698018px;}
.y2b{bottom:203.695997px;}
.y2a{bottom:215.194997px;}
.y29{bottom:250.193001px;}
.y28{bottom:261.691999px;}
.y27{bottom:273.190999px;}
.y26{bottom:299.569992px;}
.y0{bottom:300.000000px;}
.y25{bottom:335.068001px;}
.y23{bottom:353.066994px;}
.y21{bottom:388.564995px;}
.y45{bottom:397.855004px;}
.y32{bottom:398.500000px;}
.y1d{bottom:406.563995px;}
.y44{bottom:409.854012px;}
.y43{bottom:421.853005px;}
.y42{bottom:433.851998px;}
.y41{bottom:445.851006px;}
.y40{bottom:457.850007px;}
.y3f{bottom:469.849008px;}
.y3e{bottom:481.848009px;}
.y1c{bottom:485.678007px;}
.y1b{bottom:497.177007px;}
.y3d{bottom:505.346005px;}
.y3b{bottom:517.345007px;}
.y1a{bottom:520.175008px;}
.y19{bottom:531.674001px;}
.y3a{bottom:540.843005px;}
.y18{bottom:543.173009px;}
.y38{bottom:552.842006px;}
.y36{bottom:564.841005px;}
.y17{bottom:575.121003px;}
.y35{bottom:605.468003px;}
.y16{bottom:615.580007px;}
.y15{bottom:629.167005px;}
.y30{bottom:644.438002px;}
.y34{bottom:652.402003px;}
.y2e{bottom:655.301002px;}
.y14{bottom:659.275004px;}
.y33{bottom:663.901004px;}
.y7{bottom:672.780998px;}
.yb{bottom:672.781002px;}
.y10{bottom:686.700003px;}
.y6{bottom:700.303000px;}
.y5{bottom:716.002000px;}
.y3{bottom:731.701000px;}
.h2{height:9.199000px;}
.h17{height:12.349000px;}
.h19{height:12.863000px;}
.h1d{height:13.499000px;}
.h1c{height:14.649000px;}
.h4{height:17.199001px;}
.h15{height:19.499001px;}
.hd{height:21.667969px;}
.h5{height:21.906250px;}
.h6{height:22.218750px;}
.h3{height:23.312500px;}
.h1e{height:24.997999px;}
.h18{height:26.226562px;}
.ha{height:27.084961px;}
.h1a{height:27.527344px;}
.h9{height:29.021999px;}
.h13{height:29.140625px;}
.h11{height:32.054688px;}
.h8{height:32.859375px;}
.h12{height:36.113281px;}
.h16{height:36.998001px;}
.hf{height:39.724609px;}
.he{height:42.820312px;}
.h10{height:43.335938px;}
.hb{height:56.149994px;}
.hc{height:57.781250px;}
.h14{height:65.996002px;}
.h7{height:76.119003px;}
.h1b{height:393.500000px;}
.h1{height:492.000000px;}
.h0{height:792.000000px;}
.we{width:83.650002px;}
.w5{width:84.900002px;}
.w7{width:94.749995px;}
.w4{width:117.550003px;}
.w8{width:139.500000px;}
.wc{width:150.850006px;}
.w6{width:151.800003px;}
.wb{width:161.250000px;}
.w3{width:200.949997px;}
.wa{width:219.750000px;}
.w9{width:379.500000px;}
.wf{width:438.850006px;}
.w1{width:517.000000px;}
.wd{width:520.500000px;}
.w2{width:611.999989px;}
.w0{width:612.000000px;}
.x1{left:0.000000px;}
.x12{left:4.250000px;}
.x3{left:6.150000px;}
.xa{left:9.158000px;}
.x7{left:14.324000px;}
.x13{left:18.400000px;}
.x9{left:20.234000px;}
.xc{left:30.039001px;}
.xd{left:36.539001px;}
.x8{left:39.325999px;}
.x1d{left:41.825001px;}
.x19{left:52.500000px;}
.x0{left:56.000000px;}
.x5{left:81.474997px;}
.xb{left:112.050004px;}
.x1b{left:134.600002px;}
.x10{left:135.947002px;}
.x1c{left:187.942001px;}
.x14{left:193.950001px;}
.xe{left:198.300007px;}
.x6{left:200.549999px;}
.x1a{left:241.793995px;}
.x16{left:272.743000px;}
.x17{left:307.483006px;}
.x18{left:332.000000px;}
.x2{left:350.849987px;}
.xf{left:377.953999px;}
.x15{left:412.200001px;}
.x4{left:466.900005px;}
.x11{left:495.917011px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-1.584000pt;}
._1{width:1.333333pt;}
._2{width:7.733333pt;}
._3{width:9.600000pt;}
._0{width:17.333333pt;}
.fs4{font-size:32.000000pt;}
.fs2{font-size:40.000000pt;}
.fs0{font-size:42.666667pt;}
.fs6{font-size:48.000000pt;}
.fs8{font-size:53.333333pt;}
.fs7{font-size:58.666667pt;}
.fs1{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:85.333333pt;}
.y2{bottom:2.260000pt;}
.y31{bottom:3.812000pt;}
.y2f{bottom:3.875999pt;}
.y39{bottom:4.158666pt;}
.y37{bottom:4.441334pt;}
.y4{bottom:7.640002pt;}
.yf{bottom:9.389333pt;}
.y22{bottom:12.158667pt;}
.yd{bottom:15.717331pt;}
.y3c{bottom:19.490665pt;}
.ye{bottom:21.654666pt;}
.y13{bottom:25.633326pt;}
.ya{bottom:26.609339pt;}
.yc{bottom:27.403999pt;}
.y20{bottom:27.490668pt;}
.y12{bottom:34.831991pt;}
.y24{bottom:35.490668pt;}
.y9{bottom:45.008006pt;}
.y1{bottom:47.266649pt;}
.y1f{bottom:50.822669pt;}
.y11{bottom:54.523992pt;}
.y8{bottom:63.406672pt;}
.y1e{bottom:74.154669pt;}
.y2d{bottom:194.266710pt;}
.y2c{bottom:224.930691pt;}
.y2b{bottom:271.594663pt;}
.y2a{bottom:286.926662pt;}
.y29{bottom:333.590668pt;}
.y28{bottom:348.922666pt;}
.y27{bottom:364.254665pt;}
.y26{bottom:399.426656pt;}
.y0{bottom:400.000000pt;}
.y25{bottom:446.757334pt;}
.y23{bottom:470.755992pt;}
.y21{bottom:518.086660pt;}
.y45{bottom:530.473339pt;}
.y32{bottom:531.333333pt;}
.y1d{bottom:542.085327pt;}
.y44{bottom:546.472017pt;}
.y43{bottom:562.470674pt;}
.y42{bottom:578.469331pt;}
.y41{bottom:594.468009pt;}
.y40{bottom:610.466676pt;}
.y3f{bottom:626.465343pt;}
.y3e{bottom:642.464012pt;}
.y1c{bottom:647.570676pt;}
.y1b{bottom:662.902676pt;}
.y3d{bottom:673.794674pt;}
.y3b{bottom:689.793343pt;}
.y1a{bottom:693.566677pt;}
.y19{bottom:708.898668pt;}
.y3a{bottom:721.124007pt;}
.y18{bottom:724.230679pt;}
.y38{bottom:737.122674pt;}
.y36{bottom:753.121340pt;}
.y17{bottom:766.828004pt;}
.y35{bottom:807.290671pt;}
.y16{bottom:820.773342pt;}
.y15{bottom:838.889339pt;}
.y30{bottom:859.250669pt;}
.y34{bottom:869.869338pt;}
.y2e{bottom:873.734669pt;}
.y14{bottom:879.033339pt;}
.y33{bottom:885.201338pt;}
.y7{bottom:897.041331pt;}
.yb{bottom:897.041336pt;}
.y10{bottom:915.600004pt;}
.y6{bottom:933.737333pt;}
.y5{bottom:954.669333pt;}
.y3{bottom:975.601334pt;}
.h2{height:12.265334pt;}
.h17{height:16.465333pt;}
.h19{height:17.150667pt;}
.h1d{height:17.998666pt;}
.h1c{height:19.532000pt;}
.h4{height:22.932002pt;}
.h15{height:25.998667pt;}
.hd{height:28.890625pt;}
.h5{height:29.208333pt;}
.h6{height:29.625000pt;}
.h3{height:31.083333pt;}
.h1e{height:33.330666pt;}
.h18{height:34.968750pt;}
.ha{height:36.113281pt;}
.h1a{height:36.703125pt;}
.h9{height:38.695999pt;}
.h13{height:38.854167pt;}
.h11{height:42.739583pt;}
.h8{height:43.812500pt;}
.h12{height:48.151042pt;}
.h16{height:49.330668pt;}
.hf{height:52.966146pt;}
.he{height:57.093750pt;}
.h10{height:57.781250pt;}
.hb{height:74.866659pt;}
.hc{height:77.041667pt;}
.h14{height:87.994670pt;}
.h7{height:101.492004pt;}
.h1b{height:524.666667pt;}
.h1{height:656.000000pt;}
.h0{height:1056.000000pt;}
.we{width:111.533335pt;}
.w5{width:113.200002pt;}
.w7{width:126.333327pt;}
.w4{width:156.733337pt;}
.w8{width:186.000000pt;}
.wc{width:201.133341pt;}
.w6{width:202.400004pt;}
.wb{width:215.000000pt;}
.w3{width:267.933329pt;}
.wa{width:293.000000pt;}
.w9{width:506.000000pt;}
.wf{width:585.133341pt;}
.w1{width:689.333333pt;}
.wd{width:694.000000pt;}
.w2{width:815.999985pt;}
.w0{width:816.000000pt;}
.x1{left:0.000000pt;}
.x12{left:5.666667pt;}
.x3{left:8.200000pt;}
.xa{left:12.210667pt;}
.x7{left:19.098667pt;}
.x13{left:24.533333pt;}
.x9{left:26.978666pt;}
.xc{left:40.052001pt;}
.xd{left:48.718667pt;}
.x8{left:52.434665pt;}
.x1d{left:55.766668pt;}
.x19{left:70.000000pt;}
.x0{left:74.666667pt;}
.x5{left:108.633329pt;}
.xb{left:149.400005pt;}
.x1b{left:179.466670pt;}
.x10{left:181.262670pt;}
.x1c{left:250.589335pt;}
.x14{left:258.600001pt;}
.xe{left:264.400009pt;}
.x6{left:267.399999pt;}
.x1a{left:322.391993pt;}
.x16{left:363.657333pt;}
.x17{left:409.977341pt;}
.x18{left:442.666667pt;}
.x2{left:467.799983pt;}
.xf{left:503.938665pt;}
.x15{left:549.600001pt;}
.x4{left:622.533340pt;}
.x11{left:661.222682pt;}
}
