.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.900391;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.708008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.113281;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:195.480000px;}
._0{width:220.160000px;}
._3{width:525.120000px;}
._2{width:749.920000px;}
._5{width:802.200000px;}
._4{width:812.040000px;}
.fc2{color:rgb(227,108,9);}
.fc1{color:rgb(49,132,155);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:24.000000px;}
.fs2{font-size:30.000000px;}
.fs0{font-size:32.000000px;}
.fs5{font-size:36.000000px;}
.fs7{font-size:40.000000px;}
.fs6{font-size:44.000000px;}
.fs1{font-size:48.000000px;}
.fs3{font-size:64.000000px;}
.y0{bottom:0.000000px;}
.y2{bottom:1.730000px;}
.y18{bottom:2.907000px;}
.y25{bottom:3.118999px;}
.y2d{bottom:3.543000px;}
.y1c{bottom:4.056999px;}
.y4{bottom:5.730001px;}
.yd{bottom:11.641998px;}
.yc{bottom:11.787998px;}
.y1a{bottom:11.880000px;}
.y1f{bottom:14.617999px;}
.y2a{bottom:16.206001px;}
.y28{bottom:18.793998px;}
.y11{bottom:19.224995px;}
.yb{bottom:20.552999px;}
.y1{bottom:21.349984px;}
.y1e{bottom:26.116999px;}
.y10{bottom:26.123993px;}
.y9{bottom:26.857006px;}
.y27{bottom:27.992999px;}
.y2b{bottom:37.615998px;}
.y8{bottom:40.656002px;}
.yf{bottom:40.892994px;}
.y23{bottom:58.854978px;}
.y22{bottom:70.353971px;}
.y21{bottom:81.852963px;}
.y20{bottom:116.349973px;}
.y1d{bottom:139.028988px;}
.y3e{bottom:157.817989px;}
.y3d{bottom:172.116985px;}
.y3c{bottom:186.415981px;}
.y3b{bottom:200.714977px;}
.y3a{bottom:215.013988px;}
.y39{bottom:229.312984px;}
.y38{bottom:243.611980px;}
.y37{bottom:257.910976px;}
.y36{bottom:272.209988px;}
.y35{bottom:286.508984px;}
.y34{bottom:300.807980px;}
.y29{bottom:304.920960px;}
.y26{bottom:304.920963px;}
.y33{bottom:315.106983px;}
.y32{bottom:329.405979px;}
.y24{bottom:339.417962px;}
.y31{bottom:343.704983px;}
.y30{bottom:358.003983px;}
.y1b{bottom:362.565978px;}
.y2f{bottom:372.302982px;}
.y19{bottom:374.564978px;}
.y17{bottom:385.413978px;}
.y2e{bottom:386.601982px;}
.y2c{bottom:400.900982px;}
.y16{bottom:413.604970px;}
.y15{bottom:427.403974px;}
.y14{bottom:455.001973px;}
.y13{bottom:468.800972px;}
.y12{bottom:482.599973px;}
.y7{bottom:492.880974px;}
.ya{bottom:492.880978px;}
.ye{bottom:506.799979px;}
.y6{bottom:520.402975px;}
.y5{bottom:536.101975px;}
.y3{bottom:551.800976px;}
.h2{height:9.234000px;}
.hf{height:12.349000px;}
.h13{height:13.499000px;}
.h1a{height:15.799000px;}
.h4{height:17.199001px;}
.hd{height:21.667969px;}
.h5{height:21.906250px;}
.h6{height:22.218750px;}
.h11{height:23.198000px;}
.ha{height:27.084961px;}
.h3{height:28.687500px;}
.h17{height:28.890625px;}
.h9{height:29.021999px;}
.h10{height:32.273438px;}
.h19{height:32.501953px;}
.h8{height:32.859375px;}
.h16{height:35.859375px;}
.h18{height:35.997002px;}
.h15{height:36.113281px;}
.h12{height:39.445312px;}
.h1b{height:43.031250px;}
.he{height:43.335938px;}
.h14{height:47.995998px;}
.hb{height:56.149994px;}
.hc{height:57.781250px;}
.h7{height:76.119003px;}
.h1{height:612.000000px;}
.h0{height:612.099976px;}
.wb{width:36.950001px;}
.w13{width:39.049999px;}
.w10{width:43.500000px;}
.wa{width:51.099998px;}
.w8{width:59.700001px;}
.w16{width:61.500000px;}
.w11{width:67.500000px;}
.w17{width:73.500000px;}
.wc{width:79.449997px;}
.we{width:86.550003px;}
.w9{width:92.400002px;}
.w7{width:94.749995px;}
.w14{width:95.949997px;}
.w15{width:97.500000px;}
.wd{width:100.699997px;}
.w12{width:109.500000px;}
.w18{width:113.000000px;}
.w4{width:115.500000px;}
.wf{width:127.500000px;}
.w5{width:135.000000px;}
.w3{width:249.000000px;}
.w6{width:287.399994px;}
.w19{width:490.000000px;}
.w1{width:792.000000px;}
.w2{width:792.099953px;}
.w0{width:792.099976px;}
.x0{left:0.000000px;}
.x30{left:4.250000px;}
.x3{left:6.150000px;}
.xa{left:8.133000px;}
.x15{left:9.222000px;}
.x29{left:13.500000px;}
.xd{left:15.198000px;}
.x9{left:19.209000px;}
.x22{left:21.139000px;}
.x27{left:24.022999px;}
.x1d{left:25.684001px;}
.x20{left:27.639000px;}
.xc{left:30.039001px;}
.xe{left:36.539001px;}
.x28{left:39.858000px;}
.x25{left:41.864001px;}
.x7{left:54.973002px;}
.x2f{left:56.500000px;}
.x1e{left:58.700001px;}
.x1b{left:60.950001px;}
.x2d{left:92.150002px;}
.x1{left:96.400002px;}
.x1f{left:100.700001px;}
.x5{left:105.499999px;}
.xb{left:112.050004px;}
.x8{left:150.263999px;}
.x21{left:166.700001px;}
.x6{left:200.549999px;}
.x12{left:202.599998px;}
.x2e{left:203.650002px;}
.x10{left:238.000038px;}
.x11{left:273.400002px;}
.x23{left:274.700001px;}
.x16{left:308.299995px;}
.x24{left:312.250004px;}
.x17{left:357.899994px;}
.x18{left:393.349998px;}
.x26{left:406.700001px;}
.x2{left:486.449993px;}
.x1c{left:502.700001px;}
.x19{left:506.749992px;}
.x14{left:539.650002px;}
.x2a{left:568.700001px;}
.x4{left:600.450024px;}
.x2b{left:628.700001px;}
.x13{left:630.550003px;}
.x1a{left:641.400002px;}
.x2c{left:694.700001px;}
.xf{left:779.350014px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:260.640000pt;}
._0{width:293.546667pt;}
._3{width:700.160000pt;}
._2{width:999.893333pt;}
._5{width:1069.600000pt;}
._4{width:1082.720000pt;}
.fs4{font-size:32.000000pt;}
.fs2{font-size:40.000000pt;}
.fs0{font-size:42.666667pt;}
.fs5{font-size:48.000000pt;}
.fs7{font-size:53.333333pt;}
.fs6{font-size:58.666667pt;}
.fs1{font-size:64.000000pt;}
.fs3{font-size:85.333333pt;}
.y0{bottom:0.000000pt;}
.y2{bottom:2.306667pt;}
.y18{bottom:3.875999pt;}
.y25{bottom:4.158666pt;}
.y2d{bottom:4.724000pt;}
.y1c{bottom:5.409332pt;}
.y4{bottom:7.640002pt;}
.yd{bottom:15.522664pt;}
.yc{bottom:15.717331pt;}
.y1a{bottom:15.840000pt;}
.y1f{bottom:19.490665pt;}
.y2a{bottom:21.608002pt;}
.y28{bottom:25.058664pt;}
.y11{bottom:25.633326pt;}
.yb{bottom:27.403999pt;}
.y1{bottom:28.466646pt;}
.y1e{bottom:34.822665pt;}
.y10{bottom:34.831991pt;}
.y9{bottom:35.809341pt;}
.y27{bottom:37.323998pt;}
.y2b{bottom:50.154664pt;}
.y8{bottom:54.208003pt;}
.yf{bottom:54.523992pt;}
.y23{bottom:78.473303pt;}
.y22{bottom:93.805294pt;}
.y21{bottom:109.137285pt;}
.y20{bottom:155.133297pt;}
.y1d{bottom:185.371984pt;}
.y3e{bottom:210.423986pt;}
.y3d{bottom:229.489314pt;}
.y3c{bottom:248.554642pt;}
.y3b{bottom:267.619970pt;}
.y3a{bottom:286.685318pt;}
.y39{bottom:305.750646pt;}
.y38{bottom:324.815974pt;}
.y37{bottom:343.881302pt;}
.y36{bottom:362.946650pt;}
.y35{bottom:382.011978pt;}
.y34{bottom:401.077306pt;}
.y29{bottom:406.561281pt;}
.y26{bottom:406.561284pt;}
.y33{bottom:420.142644pt;}
.y32{bottom:439.207972pt;}
.y24{bottom:452.557283pt;}
.y31{bottom:458.273310pt;}
.y30{bottom:477.338643pt;}
.y1b{bottom:483.421304pt;}
.y2f{bottom:496.403976pt;}
.y19{bottom:499.419970pt;}
.y17{bottom:513.885303pt;}
.y2e{bottom:515.469309pt;}
.y2c{bottom:534.534643pt;}
.y16{bottom:551.473293pt;}
.y15{bottom:569.871965pt;}
.y14{bottom:606.669298pt;}
.y13{bottom:625.067963pt;}
.y12{bottom:643.466630pt;}
.y7{bottom:657.174632pt;}
.ya{bottom:657.174637pt;}
.ye{bottom:675.733305pt;}
.y6{bottom:693.870633pt;}
.y5{bottom:714.802634pt;}
.y3{bottom:735.734634pt;}
.h2{height:12.312000pt;}
.hf{height:16.465333pt;}
.h13{height:17.998666pt;}
.h1a{height:21.065333pt;}
.h4{height:22.932002pt;}
.hd{height:28.890625pt;}
.h5{height:29.208333pt;}
.h6{height:29.625000pt;}
.h11{height:30.930667pt;}
.ha{height:36.113281pt;}
.h3{height:38.250000pt;}
.h17{height:38.520833pt;}
.h9{height:38.695999pt;}
.h10{height:43.031250pt;}
.h19{height:43.335938pt;}
.h8{height:43.812500pt;}
.h16{height:47.812500pt;}
.h18{height:47.996002pt;}
.h15{height:48.151042pt;}
.h12{height:52.593750pt;}
.h1b{height:57.375000pt;}
.he{height:57.781250pt;}
.h14{height:63.994665pt;}
.hb{height:74.866659pt;}
.hc{height:77.041667pt;}
.h7{height:101.492004pt;}
.h1{height:816.000000pt;}
.h0{height:816.133301pt;}
.wb{width:49.266668pt;}
.w13{width:52.066666pt;}
.w10{width:58.000000pt;}
.wa{width:68.133331pt;}
.w8{width:79.600001pt;}
.w16{width:82.000000pt;}
.w11{width:90.000000pt;}
.w17{width:98.000000pt;}
.wc{width:105.933329pt;}
.we{width:115.400004pt;}
.w9{width:123.200002pt;}
.w7{width:126.333327pt;}
.w14{width:127.933329pt;}
.w15{width:130.000000pt;}
.wd{width:134.266663pt;}
.w12{width:146.000000pt;}
.w18{width:150.666667pt;}
.w4{width:154.000000pt;}
.wf{width:170.000000pt;}
.w5{width:180.000000pt;}
.w3{width:332.000000pt;}
.w6{width:383.199992pt;}
.w19{width:653.333333pt;}
.w1{width:1056.000000pt;}
.w2{width:1056.133270pt;}
.w0{width:1056.133301pt;}
.x0{left:0.000000pt;}
.x30{left:5.666667pt;}
.x3{left:8.200000pt;}
.xa{left:10.844000pt;}
.x15{left:12.296000pt;}
.x29{left:18.000000pt;}
.xd{left:20.264000pt;}
.x9{left:25.612000pt;}
.x22{left:28.185334pt;}
.x27{left:32.030666pt;}
.x1d{left:34.245334pt;}
.x20{left:36.852001pt;}
.xc{left:40.052001pt;}
.xe{left:48.718667pt;}
.x28{left:53.144000pt;}
.x25{left:55.818668pt;}
.x7{left:73.297336pt;}
.x2f{left:75.333333pt;}
.x1e{left:78.266668pt;}
.x1b{left:81.266668pt;}
.x2d{left:122.866669pt;}
.x1{left:128.533335pt;}
.x1f{left:134.266668pt;}
.x5{left:140.666665pt;}
.xb{left:149.400005pt;}
.x8{left:200.351998pt;}
.x21{left:222.266668pt;}
.x6{left:267.399999pt;}
.x12{left:270.133331pt;}
.x2e{left:271.533335pt;}
.x10{left:317.333384pt;}
.x11{left:364.533335pt;}
.x23{left:366.266668pt;}
.x16{left:411.066661pt;}
.x24{left:416.333338pt;}
.x17{left:477.199992pt;}
.x18{left:524.466665pt;}
.x26{left:542.266668pt;}
.x2{left:648.599991pt;}
.x1c{left:670.266668pt;}
.x19{left:675.666657pt;}
.x14{left:719.533335pt;}
.x2a{left:758.266668pt;}
.x4{left:800.600032pt;}
.x2b{left:838.266668pt;}
.x13{left:840.733337pt;}
.x1a{left:855.200002pt;}
.x2c{left:926.266668pt;}
.xf{left:1039.133352pt;}
}
