.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.900391;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{width:121.800000px;}
._1{width:422.040000px;}
._0{width:711.920000px;}
.fc2{color:rgb(0,0,0);}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(115,115,115);}
.fs0{font-size:32.000000px;}
.fs1{font-size:36.000000px;}
.fs2{font-size:40.000000px;}
.y0{bottom:0.000000px;}
.y7{bottom:9.522999px;}
.y5{bottom:15.529001px;}
.y4{bottom:24.728001px;}
.y1{bottom:25.499969px;}
.y3{bottom:33.927001px;}
.y2{bottom:43.126001px;}
.y19{bottom:82.112959px;}
.y18{bottom:105.110945px;}
.y2a{bottom:235.746962px;}
.y17{bottom:261.195967px;}
.y29{bottom:283.242964px;}
.y16{bottom:308.691969px;}
.y28{bottom:352.236982px;}
.y15{bottom:377.685957px;}
.y27{bottom:399.732969px;}
.y14{bottom:413.682966px;}
.y26{bottom:413.731977px;}
.y13{bottom:427.681974px;}
.y25{bottom:427.730970px;}
.y12{bottom:441.680967px;}
.y24{bottom:441.729979px;}
.y11{bottom:455.679976px;}
.y23{bottom:479.226973px;}
.y10{bottom:480.177977px;}
.y22{bottom:493.225966px;}
.y21{bottom:507.224974px;}
.yf{bottom:509.675978px;}
.y20{bottom:521.223967px;}
.ye{bottom:523.674971px;}
.yd{bottom:537.673971px;}
.y1f{bottom:545.721975px;}
.yc{bottom:551.672972px;}
.y1e{bottom:575.219969px;}
.yb{bottom:576.170973px;}
.y1d{bottom:589.218969px;}
.ya{bottom:599.168974px;}
.y1c{bottom:603.217974px;}
.y1b{bottom:617.216970px;}
.y9{bottom:622.166971px;}
.y1a{bottom:641.714973px;}
.y8{bottom:654.147972px;}
.y6{bottom:660.874980px;}
.h5{height:18.299999px;}
.h4{height:21.906250px;}
.h3{height:22.234375px;}
.h6{height:24.644531px;}
.h7{height:25.013672px;}
.h8{height:27.382812px;}
.h9{height:27.792969px;}
.h2{height:50.595001px;}
.h1{height:792.000000px;}
.h0{height:792.099976px;}
.w3{width:316.899982px;}
.w1{width:612.000000px;}
.w2{width:612.099953px;}
.w0{width:612.099976px;}
.x0{left:0.000000px;}
.x9{left:70.900002px;}
.x2{left:143.639999px;}
.x1{left:155.100998px;}
.x6{left:174.563998px;}
.x3{left:240.624001px;}
.xa{left:245.900002px;}
.x4{left:253.845009px;}
.x5{left:254.875000px;}
.xb{left:260.786995px;}
.x8{left:268.723000px;}
.x7{left:552.850006px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{width:162.400000pt;}
._1{width:562.720000pt;}
._0{width:949.226667pt;}
.fs0{font-size:42.666667pt;}
.fs1{font-size:48.000000pt;}
.fs2{font-size:53.333333pt;}
.y0{bottom:0.000000pt;}
.y7{bottom:12.697332pt;}
.y5{bottom:20.705335pt;}
.y4{bottom:32.970668pt;}
.y1{bottom:33.999959pt;}
.y3{bottom:45.236001pt;}
.y2{bottom:57.501335pt;}
.y19{bottom:109.483945pt;}
.y18{bottom:140.147926pt;}
.y2a{bottom:314.329282pt;}
.y17{bottom:348.261289pt;}
.y29{bottom:377.657285pt;}
.y16{bottom:411.589292pt;}
.y28{bottom:469.649310pt;}
.y15{bottom:503.581276pt;}
.y27{bottom:532.977292pt;}
.y14{bottom:551.577288pt;}
.y26{bottom:551.642637pt;}
.y13{bottom:570.242633pt;}
.y25{bottom:570.307961pt;}
.y12{bottom:588.907956pt;}
.y24{bottom:588.973305pt;}
.y11{bottom:607.573301pt;}
.y23{bottom:638.969297pt;}
.y10{bottom:640.237302pt;}
.y22{bottom:657.634621pt;}
.y21{bottom:676.299965pt;}
.yf{bottom:679.567970pt;}
.y20{bottom:694.965289pt;}
.ye{bottom:698.233294pt;}
.yd{bottom:716.898628pt;}
.y1f{bottom:727.629300pt;}
.yc{bottom:735.563962pt;}
.y1e{bottom:766.959958pt;}
.yb{bottom:768.227964pt;}
.y1d{bottom:785.625292pt;}
.ya{bottom:798.891965pt;}
.y1c{bottom:804.290632pt;}
.y1b{bottom:822.955961pt;}
.y9{bottom:829.555962pt;}
.y1a{bottom:855.619963pt;}
.y8{bottom:872.197296pt;}
.y6{bottom:881.166640pt;}
.h5{height:24.399999pt;}
.h4{height:29.208333pt;}
.h3{height:29.645833pt;}
.h6{height:32.859375pt;}
.h7{height:33.351562pt;}
.h8{height:36.510417pt;}
.h9{height:37.057292pt;}
.h2{height:67.460002pt;}
.h1{height:1056.000000pt;}
.h0{height:1056.133301pt;}
.w3{width:422.533309pt;}
.w1{width:816.000000pt;}
.w2{width:816.133270pt;}
.w0{width:816.133301pt;}
.x0{left:0.000000pt;}
.x9{left:94.533335pt;}
.x2{left:191.519999pt;}
.x1{left:206.801331pt;}
.x6{left:232.751998pt;}
.x3{left:320.832001pt;}
.xa{left:327.866669pt;}
.x4{left:338.460012pt;}
.x5{left:339.833333pt;}
.xb{left:347.715993pt;}
.x8{left:358.297333pt;}
.x7{left:737.133341pt;}
}
