.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.709473;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.900391;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.903320;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:2413.840000px;}
.fc2{color:rgb(47,84,150);}
.fc1{color:rgb(83,129,53);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:28.000000px;}
.fs5{font-size:30.000000px;}
.fs1{font-size:32.000000px;}
.fs0{font-size:40.000000px;}
.fs2{font-size:48.000000px;}
.fs3{font-size:64.000000px;}
.y13{bottom:-12.078003px;}
.y2{bottom:2.162999px;}
.yd{bottom:4.631001px;}
.y4{bottom:5.730001px;}
.ye{bottom:9.231001px;}
.y12{bottom:10.237991px;}
.yc{bottom:13.830001px;}
.ya{bottom:17.492996px;}
.y1c{bottom:18.124999px;}
.y11{bottom:18.286995px;}
.y1e{bottom:18.870999px;}
.y22{bottom:19.374999px;}
.y9{bottom:31.291996px;}
.y1{bottom:36.000024px;}
.y10{bottom:40.892994px;}
.y8{bottom:45.090998px;}
.y1a{bottom:82.285008px;}
.y19{bottom:96.083989px;}
.y0{bottom:135.000000px;}
.y18{bottom:252.996013px;}
.y21{bottom:277.719990px;}
.y20{bottom:308.019995px;}
.y1f{bottom:337.815992px;}
.y1d{bottom:367.611994px;}
.y1b{bottom:397.407993px;}
.y17{bottom:445.450002px;}
.y16{bottom:459.248998px;}
.y15{bottom:473.048001px;}
.y14{bottom:486.847001px;}
.yb{bottom:497.603001px;}
.y7{bottom:497.603004px;}
.yf{bottom:506.700003px;}
.y6{bottom:520.303000px;}
.y5{bottom:536.002000px;}
.y3{bottom:551.701000px;}
.h2{height:11.499000px;}
.h4{height:17.199001px;}
.hc{height:20.384766px;}
.hd{height:21.840820px;}
.h5{height:21.906250px;}
.h6{height:22.218750px;}
.h9{height:24.200001px;}
.h3{height:27.773438px;}
.hf{height:30.549999px;}
.h10{height:31.296000px;}
.h11{height:31.799999px;}
.he{height:34.851562px;}
.h8{height:34.945312px;}
.hb{height:46.593750px;}
.ha{height:56.149994px;}
.h7{height:71.296997px;}
.h1{height:433.500000px;}
.h0{height:612.000000px;}
.w6{width:94.749995px;}
.w4{width:116.000000px;}
.w3{width:160.800003px;}
.w5{width:235.649994px;}
.w8{width:252.300003px;}
.w2{width:275.299988px;}
.wa{width:318.200012px;}
.w9{width:371.450012px;}
.w7{width:437.350006px;}
.w1{width:692.000000px;}
.w0{width:792.000000px;}
.x1{left:0.000000px;}
.xf{left:4.250000px;}
.x4{left:6.150000px;}
.x9{left:14.892000px;}
.xa{left:22.981000px;}
.x8{left:30.039001px;}
.x2{left:36.000000px;}
.x0{left:48.000000px;}
.xe{left:88.956001px;}
.x6{left:118.650000px;}
.x7{left:225.999996px;}
.xd{left:248.244003px;}
.xb{left:280.332993px;}
.xc{left:311.332001px;}
.x11{left:417.800011px;}
.x3{left:460.150005px;}
.x10{left:483.700005px;}
.x5{left:619.450024px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:3218.453333pt;}
.fs4{font-size:37.333333pt;}
.fs5{font-size:40.000000pt;}
.fs1{font-size:42.666667pt;}
.fs0{font-size:53.333333pt;}
.fs2{font-size:64.000000pt;}
.fs3{font-size:85.333333pt;}
.y13{bottom:-16.104004pt;}
.y2{bottom:2.883999pt;}
.yd{bottom:6.174667pt;}
.y4{bottom:7.640002pt;}
.ye{bottom:12.308001pt;}
.y12{bottom:13.650655pt;}
.yc{bottom:18.440001pt;}
.ya{bottom:23.323995pt;}
.y1c{bottom:24.166665pt;}
.y11{bottom:24.382660pt;}
.y1e{bottom:25.161332pt;}
.y22{bottom:25.833332pt;}
.y9{bottom:41.722661pt;}
.y1{bottom:48.000032pt;}
.y10{bottom:54.523992pt;}
.y8{bottom:60.121330pt;}
.y1a{bottom:109.713345pt;}
.y19{bottom:128.111986pt;}
.y0{bottom:180.000000pt;}
.y18{bottom:337.328017pt;}
.y21{bottom:370.293320pt;}
.y20{bottom:410.693326pt;}
.y1f{bottom:450.421323pt;}
.y1d{bottom:490.149325pt;}
.y1b{bottom:529.877324pt;}
.y17{bottom:593.933336pt;}
.y16{bottom:612.331997pt;}
.y15{bottom:630.730668pt;}
.y14{bottom:649.129335pt;}
.yb{bottom:663.470668pt;}
.y7{bottom:663.470673pt;}
.yf{bottom:675.600004pt;}
.y6{bottom:693.737333pt;}
.y5{bottom:714.669333pt;}
.y3{bottom:735.601334pt;}
.h2{height:15.331999pt;}
.h4{height:22.932002pt;}
.hc{height:27.179688pt;}
.hd{height:29.121094pt;}
.h5{height:29.208333pt;}
.h6{height:29.625000pt;}
.h9{height:32.266668pt;}
.h3{height:37.031250pt;}
.hf{height:40.733332pt;}
.h10{height:41.727999pt;}
.h11{height:42.399999pt;}
.he{height:46.468750pt;}
.h8{height:46.593750pt;}
.hb{height:62.125000pt;}
.ha{height:74.866659pt;}
.h7{height:95.062663pt;}
.h1{height:578.000000pt;}
.h0{height:816.000000pt;}
.w6{width:126.333327pt;}
.w4{width:154.666667pt;}
.w3{width:214.400004pt;}
.w5{width:314.199992pt;}
.w8{width:336.400004pt;}
.w2{width:367.066650pt;}
.wa{width:424.266683pt;}
.w9{width:495.266683pt;}
.w7{width:583.133341pt;}
.w1{width:922.666667pt;}
.w0{width:1056.000000pt;}
.x1{left:0.000000pt;}
.xf{left:5.666667pt;}
.x4{left:8.200000pt;}
.x9{left:19.856000pt;}
.xa{left:30.641333pt;}
.x8{left:40.052001pt;}
.x2{left:48.000000pt;}
.x0{left:64.000000pt;}
.xe{left:118.608002pt;}
.x6{left:158.200000pt;}
.x7{left:301.333328pt;}
.xd{left:330.992004pt;}
.xb{left:373.777323pt;}
.xc{left:415.109334pt;}
.x11{left:557.066681pt;}
.x3{left:613.533340pt;}
.x10{left:644.933339pt;}
.x5{left:825.933365pt;}
}
