.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.900391;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.708008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.965820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.113281;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-1.188000px;}
._1{width:1.640000px;}
._2{width:4.920000px;}
._0{width:9.960000px;}
.fc2{color:rgb(49,132,155);}
.fc1{color:rgb(227,108,9);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:30.000000px;}
.fs0{font-size:32.000000px;}
.fs5{font-size:36.000000px;}
.fs7{font-size:40.000000px;}
.fs6{font-size:44.000000px;}
.fs1{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs2{font-size:64.000000px;}
.y13{bottom:-12.047005px;}
.y2c{bottom:2.859000px;}
.y2a{bottom:2.907000px;}
.y32{bottom:3.118999px;}
.y30{bottom:3.331000px;}
.y12{bottom:3.583992px;}
.y4{bottom:5.730001px;}
.yd{bottom:6.481001px;}
.ye{bottom:11.080999px;}
.y11{bottom:12.782997px;}
.y35{bottom:14.617999px;}
.y2{bottom:15.493999px;}
.yc{bottom:15.680000px;}
.ya{bottom:19.396004px;}
.y20{bottom:26.115998px;}
.y9{bottom:33.195000px;}
.y1{bottom:35.449999px;}
.y10{bottom:40.962994px;}
.y8{bottom:46.994001px;}
.y28{bottom:133.407979px;}
.y27{bottom:144.907002px;}
.y26{bottom:202.401998px;}
.y25{bottom:225.400014px;}
.y24{bottom:295.396009px;}
.y23{bottom:306.895009px;}
.y22{bottom:333.274014px;}
.y0{bottom:334.000000px;}
.y21{bottom:368.270012px;}
.y1f{bottom:403.266010px;}
.y3e{bottom:452.940007px;}
.y1e{bottom:458.880001px;}
.y1d{bottom:470.379005px;}
.y3d{bottom:475.619000px;}
.y2d{bottom:476.000000px;}
.y1c{bottom:481.878004px;}
.y3c{bottom:487.618009px;}
.y1b{bottom:493.377004px;}
.y3b{bottom:499.617002px;}
.y3a{bottom:511.616003px;}
.y1a{bottom:527.873998px;}
.y39{bottom:535.114003px;}
.y19{bottom:539.373006px;}
.y38{bottom:547.113004px;}
.y18{bottom:550.871999px;}
.y37{bottom:559.112004px;}
.y36{bottom:571.111002px;}
.y17{bottom:582.820001px;}
.y34{bottom:594.609003px;}
.y33{bottom:618.107001px;}
.y16{bottom:623.279004px;}
.y31{bottom:630.106002px;}
.y15{bottom:636.866002px;}
.y2f{bottom:642.105001px;}
.y2b{bottom:652.167997px;}
.y29{bottom:663.030997px;}
.y14{bottom:666.974004px;}
.y2e{bottom:682.732003px;}
.y7{bottom:708.402998px;}
.yb{bottom:708.403000px;}
.yf{bottom:721.200005px;}
.y6{bottom:734.802998px;}
.y5{bottom:750.501998px;}
.y3{bottom:766.200998px;}
.h13{height:12.349000px;}
.h15{height:12.863000px;}
.h19{height:13.499000px;}
.h18{height:14.649000px;}
.h4{height:17.199001px;}
.hc{height:20.537109px;}
.h5{height:21.906250px;}
.h6{height:22.218750px;}
.h2{height:22.997999px;}
.h3{height:23.312500px;}
.h1a{height:24.997999px;}
.h14{height:26.226562px;}
.h16{height:27.527344px;}
.h9{height:27.900000px;}
.h11{height:29.140625px;}
.h8{height:32.859375px;}
.h10{height:36.113281px;}
.h12{height:36.495998px;}
.he{height:39.724609px;}
.hd{height:42.820312px;}
.hf{height:43.335938px;}
.hb{height:43.812500px;}
.ha{height:56.149994px;}
.h7{height:74.997002px;}
.h17{height:307.000000px;}
.h1{height:449.000000px;}
.h0{height:792.000000px;}
.wc{width:83.650002px;}
.w5{width:91.900002px;}
.w7{width:94.749995px;}
.w4{width:127.349998px;}
.w8{width:145.500000px;}
.wa{width:150.850006px;}
.w6{width:164.449997px;}
.w3{width:217.750000px;}
.w9{width:373.500000px;}
.wd{width:438.850006px;}
.w1{width:520.000000px;}
.wb{width:521.500000px;}
.w2{width:611.999989px;}
.w0{width:612.000000px;}
.x1{left:0.000000px;}
.x11{left:4.250000px;}
.x4{left:6.150000px;}
.xa{left:14.931000px;}
.x18{left:17.381000px;}
.xc{left:24.664000px;}
.xb{left:28.814000px;}
.x9{left:30.926000px;}
.x1b{left:41.825001px;}
.x16{left:52.500000px;}
.x0{left:54.000000px;}
.x2{left:56.700001px;}
.x6{left:89.874999px;}
.x8{left:105.199998px;}
.xf{left:119.263000px;}
.x19{left:134.600002px;}
.x1a{left:181.225998px;}
.x7{left:193.700005px;}
.xd{left:198.300007px;}
.x12{left:199.950001px;}
.x17{left:241.793995px;}
.x13{left:269.412998px;}
.x14{left:307.483006px;}
.x3{left:356.649986px;}
.x15{left:429.649994px;}
.xe{left:481.301991px;}
.x5{left:482.499992px;}
.x10{left:562.555988px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-1.584000pt;}
._1{width:2.186667pt;}
._2{width:6.560000pt;}
._0{width:13.280000pt;}
.fs3{font-size:40.000000pt;}
.fs0{font-size:42.666667pt;}
.fs5{font-size:48.000000pt;}
.fs7{font-size:53.333333pt;}
.fs6{font-size:58.666667pt;}
.fs1{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs2{font-size:85.333333pt;}
.y13{bottom:-16.062673pt;}
.y2c{bottom:3.812000pt;}
.y2a{bottom:3.875999pt;}
.y32{bottom:4.158666pt;}
.y30{bottom:4.441334pt;}
.y12{bottom:4.778656pt;}
.y4{bottom:7.640002pt;}
.yd{bottom:8.641335pt;}
.ye{bottom:14.774666pt;}
.y11{bottom:17.043996pt;}
.y35{bottom:19.490665pt;}
.y2{bottom:20.658665pt;}
.yc{bottom:20.906667pt;}
.ya{bottom:25.861338pt;}
.y20{bottom:34.821331pt;}
.y9{bottom:44.260000pt;}
.y1{bottom:47.266665pt;}
.y10{bottom:54.617325pt;}
.y8{bottom:62.658669pt;}
.y28{bottom:177.877305pt;}
.y27{bottom:193.209337pt;}
.y26{bottom:269.869330pt;}
.y25{bottom:300.533352pt;}
.y24{bottom:393.861346pt;}
.y23{bottom:409.193345pt;}
.y22{bottom:444.365351pt;}
.y0{bottom:445.333333pt;}
.y21{bottom:491.026683pt;}
.y1f{bottom:537.688014pt;}
.y3e{bottom:603.920010pt;}
.y1e{bottom:611.840001pt;}
.y1d{bottom:627.172007pt;}
.y3d{bottom:634.158667pt;}
.y2d{bottom:634.666667pt;}
.y1c{bottom:642.504005pt;}
.y3c{bottom:650.157345pt;}
.y1b{bottom:657.836005pt;}
.y3b{bottom:666.156002pt;}
.y3a{bottom:682.154671pt;}
.y1a{bottom:703.831997pt;}
.y39{bottom:713.485338pt;}
.y19{bottom:719.164008pt;}
.y38{bottom:729.484005pt;}
.y18{bottom:734.495998pt;}
.y37{bottom:745.482672pt;}
.y36{bottom:761.481336pt;}
.y17{bottom:777.093334pt;}
.y34{bottom:792.812004pt;}
.y33{bottom:824.142668pt;}
.y16{bottom:831.038672pt;}
.y31{bottom:840.141336pt;}
.y15{bottom:849.154669pt;}
.y2f{bottom:856.140002pt;}
.y2b{bottom:869.557330pt;}
.y29{bottom:884.041330pt;}
.y14{bottom:889.298672pt;}
.y2e{bottom:910.309338pt;}
.y7{bottom:944.537331pt;}
.yb{bottom:944.537333pt;}
.yf{bottom:961.600007pt;}
.y6{bottom:979.737330pt;}
.y5{bottom:1000.669331pt;}
.y3{bottom:1021.601331pt;}
.h13{height:16.465333pt;}
.h15{height:17.150667pt;}
.h19{height:17.998666pt;}
.h18{height:19.532000pt;}
.h4{height:22.932002pt;}
.hc{height:27.382812pt;}
.h5{height:29.208333pt;}
.h6{height:29.625000pt;}
.h2{height:30.663999pt;}
.h3{height:31.083333pt;}
.h1a{height:33.330666pt;}
.h14{height:34.968750pt;}
.h16{height:36.703125pt;}
.h9{height:37.199999pt;}
.h11{height:38.854167pt;}
.h8{height:43.812500pt;}
.h10{height:48.151042pt;}
.h12{height:48.661331pt;}
.he{height:52.966146pt;}
.hd{height:57.093750pt;}
.hf{height:57.781250pt;}
.hb{height:58.416667pt;}
.ha{height:74.866659pt;}
.h7{height:99.996002pt;}
.h17{height:409.333333pt;}
.h1{height:598.666667pt;}
.h0{height:1056.000000pt;}
.wc{width:111.533335pt;}
.w5{width:122.533335pt;}
.w7{width:126.333327pt;}
.w4{width:169.799998pt;}
.w8{width:194.000000pt;}
.wa{width:201.133341pt;}
.w6{width:219.266663pt;}
.w3{width:290.333333pt;}
.w9{width:498.000000pt;}
.wd{width:585.133341pt;}
.w1{width:693.333333pt;}
.wb{width:695.333333pt;}
.w2{width:815.999985pt;}
.w0{width:816.000000pt;}
.x1{left:0.000000pt;}
.x11{left:5.666667pt;}
.x4{left:8.200000pt;}
.xa{left:19.908000pt;}
.x18{left:23.174666pt;}
.xc{left:32.885333pt;}
.xb{left:38.418667pt;}
.x9{left:41.234666pt;}
.x1b{left:55.766668pt;}
.x16{left:70.000000pt;}
.x0{left:72.000000pt;}
.x2{left:75.600001pt;}
.x6{left:119.833331pt;}
.x8{left:140.266664pt;}
.xf{left:159.017334pt;}
.x19{left:179.466670pt;}
.x1a{left:241.634664pt;}
.x7{left:258.266673pt;}
.xd{left:264.400009pt;}
.x12{left:266.600001pt;}
.x17{left:322.391993pt;}
.x13{left:359.217331pt;}
.x14{left:409.977341pt;}
.x3{left:475.533315pt;}
.x15{left:572.866659pt;}
.xe{left:641.735987pt;}
.x5{left:643.333323pt;}
.x10{left:750.074651pt;}
}
